<ion-view view-title="Shopping List">
  <ion-header-bar class="bar bar-subheader">

  <ul class="list">
    <ion-item ng-repeat="keyword in list">
          <p>{{keyword}}</p>
    </ion-item>
  <ul>

    <div class="list">
      <form ng-submit="InsertNewKeyword(keyword)">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Item" ng-model="keyword">
          </label>
          <button class="button button-light button-stable" type="submit">
            Add
          </button>
        </div>
      </form>
    </div>
  </ion-header>
</ion-view>